################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SignalRYoutube/FileContentIndex/accecb3d-8e39-4b70-b140-35a52db4a46e.vsidx
